# Mobile Price Prediction

In [294]:
import pandas as pd
import numpy as np
from scipy import stats
import matplotlib.pyplot as plt
import seaborn as sns

In [295]:
df = pd.read_csv(r"C:\Users\krsha\Downloads\Mobiles Dataset (2025).csv")

In [296]:
df.head()

,Company Name,Model Name,Mobile Weight,RAM,Front Camera,Back Camera,Processor,Battery Capacity,Screen Size,Launched Price (Pakistan),Launched Price (India),Launched Price (China),Launched Price (USA),Launched Price (Dubai),Launched Year
0,Apple,iPhone 16 128GB,174g,6GB,12MP,48MP,A17 Bionic,"3,600mAh",6.1 inches,"PKR 224,999","INR 79,999","CNY 5,799",USD 799,"AED 2,799",2024
1,Apple,iPhone 16 256GB,174g,6GB,12MP,48MP,A17 Bionic,"3,600mAh",6.1 inches,"PKR 234,999","INR 84,999","CNY 6,099",USD 849,"AED 2,999",2024
2,Apple,iPhone 16 512GB,174g,6GB,12MP,48MP,A17 Bionic,"3,600mAh",6.1 inches,"PKR 244,999","INR 89,999","CNY 6,499",USD 899,"AED 3,199",2024
3,Apple,iPhone 16 Plus 128GB,203g,6GB,12MP,48MP,A17 Bionic,"4,200mAh",6.7 inches,"PKR 249,999","INR 89,999","CNY 6,199",USD 899,"AED 3,199",2024
4,Apple,iPhone 16 Plus 256GB,203g,6GB,12MP,48MP,A17 Bionic,"4,200mAh",6.7 inches,"PKR 259,999","INR 94,999","CNY 6,499",USD 949,"AED 3,399",2024

In [297]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 930 entries, 0 to 929
Data columns (total 15 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Company Name               930 non-null    object
 1   Model Name                 930 non-null    object
 2   Mobile Weight              930 non-null    object
 3   RAM                        930 non-null    object
 4   Front Camera               930 non-null    object
 5   Back Camera                930 non-null    object
 6   Processor                  930 non-null    object
 7   Battery Capacity           930 non-null    object
 8   Screen Size                930 non-null    object
 9   Launched Price (Pakistan)  930 non-null    object
 10  Launched Price (India)     930 non-null    object
 11  Launched Price (China)     930 non-null    object
 12  Launched Price (USA)       930 non-null    object
 13  Launched Price (Dubai)     930 non-null    object
 14  Launched Year              930 non-null    int64
dtypes: int64(1), object(14)
memory usage: 109.1+ KB

- Need to convert Mobile weight, RAM, Front and Back camera , screen size, battery capacity, to  float
-

In [298]:
df['Mobile Weight'] =df['Mobile Weight'].str.replace('g',"",)
df['Mobile Weight'].head()

0    174
1    174
2    174
3    203
4    203
Name: Mobile Weight, dtype: object

In [299]:
df['Mobile Weight'] =df['Mobile Weight'].astype('float64')
df['Mobile Weight'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 930 entries, 0 to 929
Series name: Mobile Weight
Non-Null Count  Dtype
--------------  -----
930 non-null    float64
dtypes: float64(1)
memory usage: 7.4 KB

In [300]:
df['RAM'] = df['RAM'].str.replace('GB','')
df['RAM'].value_counts()

RAM
8         308
6         206
12        193
4         146
3          34
16         31
2           6
1.5         2
8 / 12      2
10          1
1           1
Name: count, dtype: int64

In [301]:
df['RAM'] = df['RAM'].replace('8 / 12','8').astype('float64')

In [302]:
df['Screen Size'].unique()

array(['6.1 inches', '6.7 inches', '5.4 inches', '5.8 inches',
       '6.5 inches', '10.9 inches', '10.2 inches', '7.9 inches',
       '11 inches', '12.9 inches', '13 inches', '6.8 inches',
       '6.6 inches', '7.6 inches', '6.4 inches', '6.9 inches',
       '6.3 inches', '5.3 inches', '6.0 inches', '5.5 inches',
       '5.7 inches', '5.2 inches', '14.6 inches', '12.4 inches',
       '8.7 inches', '10.5 inches', '8 inches', '10.1 inches',
       '6.74 inches', '6.72 inches', '7.8 inches', '6.55 inches',
       '6.43 inches', '6.49 inches', '6.52 inches', '6.78 inches',
       '6.59 inches', '6.44 inches', '6.41 inches', '6.01 inches',
       '6.67 inches', '6.28 inches', '11.61 inches', '6.31 inches',
       '6.58 inches', '6.38 inches', '6.56 inches', '5.88 inches',
       '6.22 inches', '5.0 inches', '6.51 inches', '6.35 inches',
       '6.53 inches', '6.39 inches', '6.47 inches', '10.4 inches',
       '12.3 inches', '7.82 inches', '6.83 inches', '11.6 inches',
       '12.1 inches', '6.82 inches', '7.1 inches', '11.5 inches',
       '6.73 inches', '6.36 inches', '6.09 inches',
       '6.7 inches (main), 2.7 inches (external)',
       '6.9 inches (internal), 4.0 inches (external)',
       '6.7 inches (internal), 3.6 inches (external)',
       '6.9 inches (unfolded)', '8.0 inches (unfolded)', '6.57 inches',
       '7.8 inches (unfolded)', '7.85 inches (unfolded)', '7.93 inches',
       '7.92 inches', '12.2 inches', '13.2 inches', '5.6 inches',
       '6.2 inches', '6.34 inches', '6.71 inches', '7.85 inches',
       '9.7 inches', '11.0 inches', '6.95 inches', '6.85 inches',
       '6.63 inches', '7.09 inches', '6.81 inches', '6.76 inches',
       '12.0 inches', '12.6 inches', '13.0 inches', '13.5 inches',
       '6.79 inches'], dtype=object)

In [303]:
df['Screen Size'] =df['Screen Size'].str.replace('inches','')
df['Screen Size'] =df['Screen Size'].str.replace('(main)','')
df['Screen Size'] =df['Screen Size'].str.replace('(external)','')
df['Screen Size'] =df['Screen Size'].str.replace('(internal)','')
df['Screen Size'] =df['Screen Size'].str.replace('(unfolded)','')
df['Screen Size']=df['Screen Size'].str.split(',').apply(lambda x: max([float(i) for i in x]))

In [304]:
df['Screen Size'].astype('float64')

0       6.1
1       6.1
2       6.1
3       6.7
4       6.7
       ...
925    12.1
926    12.1
927     7.6
928     7.6
929     7.6
Name: Screen Size, Length: 930, dtype: float64

In [305]:
df['Front Camera'].unique()

array(['12MP', '12MP / 4K', '7MP', '10MP', '32MP', '13MP', '5MP', '16MP',
       '8MP', '12MP + 12MP', '2MP', '44MP', '24MP', '20MP+8MP', '20MP',
       '50MP', '25MP', '60MP', '10.7MP', 'Dual 32MP', 'Dual 60MP',
       '60MP (ultrawide) + 8MP (telephoto)', '60MP + 8MP', '11.1MP',
       '10.8MP', '10.5MP', '48MP', '42MP', '10MP, 4MP (UDC)'],
      dtype=object)

In [306]:
import re
pattern = r'(\d)'

In [307]:
 df['Front Camera'] = df['Front Camera'].str.extract(pattern)
 df['Back Camera'] = df['Back Camera'].str.extract(pattern)

In [308]:
df['Front Camera'].value_counts()
df['Front Camera']=df['Front Camera'].astype('int32')
df['Back Camera']= df['Back Camera'].astype('int32')

In [309]:
df['Back Camera'].astype('int32')

0      4
1      4
2      4
3      4
4      4
      ..
925    8
926    8
927    5
928    5
929    5
Name: Back Camera, Length: 930, dtype: int32

In [310]:
pattern = r'([\d+,]+)'
df['Battery Capacity'] = df['Battery Capacity'].str.extract(pattern)
df['Battery Capacity'] = df['Battery Capacity'].str.replace(',','')

In [311]:
df['Battery Capacity']=df['Battery Capacity'].astype('int64')

In [312]:
df.describe(include='all')

,Company Name,Model Name,Mobile Weight,RAM,Front Camera,Back Camera,Processor,Battery Capacity,Screen Size,Launched Price (Pakistan),Launched Price (India),Launched Price (China),Launched Price (USA),Launched Price (Dubai),Launched Year
count,930,930,930.000000,930.000000,930.000000,930.000000,930,930.000000,930.000000,930,930,930,930,930,930.000000
unique,19,908,NaN,NaN,NaN,NaN,217,NaN,NaN,157,147,137,107,141,NaN
top,Oppo,Pad 128GB,NaN,NaN,NaN,NaN,Snapdragon 8 Gen 2,NaN,NaN,"PKR 79,999","INR 29,999","CNY 2,499",USD 499,"AED 1,499",NaN
freq,129,3,NaN,NaN,NaN,NaN,30,NaN,NaN,39,35,36,44,39,NaN
mean,NaN,NaN,228.267097,7.784946,3.281720,3.922581,NaN,5026.163441,7.083796,NaN,NaN,NaN,NaN,NaN,2022.193548
std,NaN,NaN,105.432503,3.179673,2.649246,2.048504,NaN,1355.548264,1.533690,NaN,NaN,NaN,NaN,NaN,1.862080
min,NaN,NaN,135.000000,1.000000,1.000000,1.000000,NaN,2000.000000,5.000000,NaN,NaN,NaN,NaN,NaN,2014.000000
25%,NaN,NaN,185.000000,6.000000,1.000000,1.000000,NaN,4402.500000,6.500000,NaN,NaN,NaN,NaN,NaN,2021.000000
50%,NaN,NaN,194.000000,8.000000,3.000000,5.000000,NaN,5000.000000,6.670000,NaN,NaN,NaN,NaN,NaN,2023.000000
75%,NaN,NaN,208.000000,8.000000,5.000000,5.000000,NaN,5091.250000,6.780000,NaN,NaN,NaN,NaN,NaN,2024.000000
max,NaN,NaN,732.000000,16.000000,8.000000,8.000000,NaN,11200.000000,14.600000,NaN,NaN,NaN,NaN,NaN,2025.000000

In [313]:
df['Launched Price'] =df['Launched Price (India)'].str.extract(pattern)
df['Launched Price'] =df['Launched Price'].str.replace(',','')
df['Launched Price'] =df['Launched Price'].str.replace('INR','')
df['Launched Price']

0       79999
1       84999
2       89999
3       89999
4       94999
        ...
925     23999
926     25999
927    164999
928    176999
929    200999
Name: Launched Price, Length: 930, dtype: object

In [314]:
df['Launched Price']=df['Launched Price'].astype('Int64')

In [315]:
# dropping all the columns for price except newly created
cols = df.columns

cols = [c for c in cols if '(' in str(c)] # extracting column with country name price

In [316]:
cols

['Launched Price (Pakistan)',
 'Launched Price (India)',
 'Launched Price (China)',
 'Launched Price (USA)',
 'Launched Price (Dubai)']

In [317]:
df =df.drop(columns=cols, axis = 1)

In [319]:
df['Processor'].unique()

array(['A17 Bionic', 'A17 Pro', 'A16 Bionic', 'A15 Bionic', 'A14 Bionic',
       'A13 Bionic', 'A11 Bionic', 'A12 Bionic', 'A12Z Bionic',
       'Exynos 2400', 'Snapdragon 8 Gen 2', 'Exynos 2200',
       'Snapdragon 8 Gen 1', 'Exynos 1380', 'MediaTek Dimensity 1080',
       'MediaTek Helio G99', 'Exynos 850', 'Exynos 1280',
       'MediaTek Helio P35', 'Exynos 990', 'Exynos 9825',
       'Snapdragon 450', 'Exynos 7870', 'Snapdragon 425', 'Exynos 7570',
       'Snapdragon 653', 'Snapdragon 625', 'Snapdragon 617',
       'Snapdragon 888', 'Snapdragon 695', 'Unisoc T618',
       'MediaTek Helio P22T', 'Snapdragon 778G', 'Exynos 9810',
       'Spreadtrum SC8830', 'Qualcomm MSM8916', 'Snapdragon 8 Gen 3',
       'MediaTek Dimensity 9000', 'Snapdragon 782G',
       'MediaTek Dimensity 6020', 'Snapdragon 8+ Gen 1',
       'MediaTek Dimensity 1300', 'MediaTek Dimensity 1200-AI',
       'Snapdragon 480', 'Qualcomm Snapdragon 460', 'Snapdragon 865',
       'Snapdragon 870', 'MediaTek Dimensity 900',
       'MediaTek Dimensity 1200', 'Snapdragon 765G', 'Snapdragon 750G',
       'Qualcomm Snapdragon 690', 'Snapdragon 855', 'Snapdragon 845',
       'Snapdragon 835', 'MediaTek Dimensity 8100', 'Dimensity 9400',
       'Dimensity 1200', 'Dimensity 900', 'Dimensity 1100',
       'Snapdragon 710', 'Snapdragon 626', 'MediaTek Helio P22',
       'Snapdragon 615', 'Snapdragon 439', 'Snapdragon 652',
       'MediaTek MT6592', 'Snapdragon 430', 'Qualcomm Snapdragon 712',
       'Qualcomm Snapdragon 675', 'MediaTek Helio P65',
       'Qualcomm Snapdragon 439', 'MediaTek Helio P70',
       'Qualcomm Snapdragon 710', 'Qualcomm Snapdragon 660',
       'MediaTek Helio G96', 'MediaTek Helio G80',
       'Qualcomm Snapdragon 870', 'Qualcomm Snapdragon 765G',
       'MediaTek Dimensity 700', 'Qualcomm Snapdragon 695',
       'Qualcomm Snapdragon 855', 'MediaTek Dimensity 8200',
       'MediaTek Dimensity 9200', 'MediaTek Dimensity 920',
       'MediaTek Helio G100', 'MediaTek Dimensity 8350', 'Snapdragon 685',
       'MediaTek Dimensity 7050', 'Dimensity 7300', 'Dimensity 6300',
       'Snapdragon 6s 4G Gen 1', 'Snapdragon 680 4G',
       'Snapdragon 7 Gen 3', 'Dimensity 7050', 'Dimensity 8350',
       'Dimensity 9300', 'Dimensity 9200', 'Dimensity 9000+',
       'Dimensity 8100', 'Dimensity 1300', 'Dimensity 1000+',
       'Dimensity 1000L', 'MediaTek Dimensity 810',
       'Qualcomm Snapdragon 480', 'MediaTek Dimensity 720',
       'Qualcomm Snapdragon 6s Gen 1', 'MediaTek Dimensity 8000-Max',
       'Qualcomm Snapdragon 768G', 'Qualcomm Snapdragon 782G',
       'Qualcomm Snapdragon 8 Elite', 'Qualcomm Snapdragon 8s Gen 3',
       'Qualcomm Snapdragon 7 Plus Gen 3', 'Qualcomm Snapdragon 7s Gen 3',
       'MediaTek Dimensity 7300 Energy', 'Qualcomm Snapdragon 7s Gen 2',
       'MediaTek Dimensity 7200', 'MediaTek Dimensity 6100+',
       'Qualcomm Snapdragon 7+ Gen 2', 'Qualcomm Snapdragon 7+ Gen 3',
       'Qualcomm Snapdragon 7s Gen 1', 'MediaTek Helio G88',
       'MediaTek Helio G85', 'Unisoc T612', 'Qualcomm Snapdragon 680',
       'Qualcomm Snapdragon 8 Gen 2', 'Unisoc T616', 'Snapdragon 8 Elite',
       'Dimensity 9300+', 'Dimensity 8300-Ultra', 'Snapdragon 7s Gen 3',
       'MediaTek Dimensity 7300-Ultra', 'Qualcomm Snapdragon 732G',
       'MediaTek Dimensity 7025-Ultra', 'Unisoc T700', 'Snapdragon 662',
       'Unisoc SC9863A', 'Snapdragon 460', 'Snapdragon 632', 'Helio P22',
       'Snapdragon 7 Gen 1', 'Exynos 9609', 'MediaTek Helio G25',
       'Snapdragon 6 Gen 3', 'MediaTek Dimensity 7300',
       'MediaTek Dimensity 7025', 'Unisoc T760', 'Snapdragon 6s Gen 3',
       'Snapdragon 7s Gen 2', 'Unisoc T606', 'Snapdragon 6 Gen 1',
       'Snapdragon 888+ 5G', 'Snapdragon 695 5G', 'Snapdragon 480+ 5G',
       'MediaTek Helio G37', 'Snapdragon 888 4G', 'Kirin 990E 5G',
       'Kirin 9000 5G', 'Snapdragon 778G 4G', 'Snapdragon 8+ Gen 1 4G',
       'Kirin 9000S', 'Kirin 9010', 'Snapdragon 480+', 'MediaTek G35',
       'Snapdragon 670', 'Snapdragon 730G', 'Google Tensor',
       'Google Tensor G2', 'Google Tensor G3', 'Google Tensor G4',
       'MediaTek Helio A22', 'MediaTek G99', 'Unisoc SC9832E',
       'MediaTek Dimensity 9200+', 'MediaTek Dimensity 8050',
       'Qualcomm Snapdragon 778G', 'MediaTek Dimensity 8020',
       'Unisoc T610', 'MediaTek Helio G70', 'MediaTek Helio A25',
       'MediaTek Helio G35', 'MediaTek Helio A20', 'MediaTek Helio G90T',
       'Kirin 710F', 'Kirin 985 5G', 'Kirin 990 5G', 'Kirin 820 5G',
       'MediaTek Dimensity 800', 'Kirin 710A', 'MediaTek Dimensity 1000+',
       'MediaTek Dimensity 800U', 'Qualcomm Snapdragon 888',
       'Qualcomm Snapdragon 888+', 'Qualcomm Snapdragon 778G+',
       'MediaTek MT6762G Helio G25', 'Qualcomm Snapdragon 8 Gen 1',
       'MediaTek Dimensity 8000', 'Qualcomm Snapdragon 8+ Gen 1',
       'Qualcomm Snapdragon 6 Gen 1', 'MediaTek Helio G36',
       'Qualcomm Snapdragon 8 Gen 3', 'Qualcomm Snapdragon 7 Gen 1',
       'Qualcomm Snapdragon 662', 'MediaTek MT8768T',
       'MediaTek Dimensity 1300T', 'MediaTek MT8786',
       'Qualcomm Snapdragon 685', 'Snapdragon 720G', 'Snapdragon 732G',
       'Snapdragon 860', 'MediaTek Dimensity 1100', 'MediaTek Helio G95',
       'Snapdragon 7+ Gen 2', 'Snapdragon 4 Gen 1',
       'MediaTek Dimensity 8300', 'Snapdragon 8+ Gen 2',
       'MediaTek Dimensity 8400'], dtype=object)

In [318]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 930 entries, 0 to 929
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Company Name      930 non-null    object
 1   Model Name        930 non-null    object
 2   Mobile Weight     930 non-null    float64
 3   RAM               930 non-null    float64
 4   Front Camera      930 non-null    int32
 5   Back Camera       930 non-null    int32
 6   Processor         930 non-null    object
 7   Battery Capacity  930 non-null    int64
 8   Screen Size       930 non-null    float64
 9   Launched Year     930 non-null    int64
 10  Launched Price    930 non-null    Int64
dtypes: Int64(1), float64(3), int32(2), int64(2), object(3)
memory usage: 73.7+ KB

In [ ]:
# checking duplicates
grouped = df.groupby('Company Name')

           0                                                  1
0      Apple     Company Name              Model Name  Mobil...
1     Google      Company Name              Model Name  Mobi...
2      Honor      Company Name   Model Name  Mobile Weight  ...
3     Huawei      Company Name              Model Name  Mobi...
4    Infinix      Company Name              Model Name  Mobi...
5     Lenovo      Company Name        Model Name  Mobile Wei...
6   Motorola      Company Name            Model Name  Mobile...
7      Nokia      Company Name    Model Name  Mobile Weight ...
8    OnePlus      Company Name                              ...
9       Oppo      Company Name          Model Name  Mobile W...
10      POCO      Company Name       Model Name  Mobile Weig...
11      Poco      Company Name    Model Name  Mobile Weight ...
12    Realme      Company Name              Model Name  Mobi...
13   Samsung      Company Name              Model Name  Mobi...
14      Sony      Company Name          Model Name  Mobile W...
15     Tecno      Company Name              Model Name  Mobi...
16      Vivo      Company Name           Model Name  Mobile ...
17    Xiaomi      Company Name                   Model Name ...
18      iQOO      Company Name       Model Name  Mobile Weig...